.container article img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: left;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.container article {
  width: calc((100% - 30px) / 4);
  margin-bottom: 20px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

.container article h2 {
  font-family: "Bangers", system-ui;
  font-size: 30px;
}

.container article p {
  font-family: "Bangers", system-ui;
}
