.container {
  max-width: 1280px;
  margin: 0 auto;
  background-color: blue;
  padding: 20px;
}

header img {
  height: 50px;
  width: 100px;
}

header {
  background-color: #ed1a23;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container > menu {
  display: flex;
  gap: 20px;
}

menu button {
  font-family: "Bangers", system-ui;
  font-size: 25px;
}
